@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-theme: #09e85e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1b1b;
  min-height: 100vh;
}

ul {
  list-style: none;
}

/* This is because tailwind doesn't have a utility class for the SVG 'y' property */
.change-y {
  y: 45;
}

/* This is for the contact form success/error message */
.slide-in {
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.error {
  animation: shake 0.5s ease-out forwards;
}

@keyframes shake {
  25% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-2px);
  }
  75% {
    transform: translate(2px);
  }
  100% {
    transform: translate(-2px);
  }
}
